* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 700px;
  margin: 0 auto;
}

#required-star {
  color: red;
  font-size: 0.8rem;
}

form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.flex-form {
  margin: 2rem;
}

button:hover {
  cursor: pointer;
}