:root {
  --green: rgb(180, 255, 157);
  --blue: rgb(148, 216, 255);
  --yellow: rgb(255, 253, 148);
  --red: rgb(230, 106, 106);
  --text: rgb(44, 44, 44);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 700px;
  margin: 0 auto;
  font-family: sans-serif;
  color: var(--text);
}

#required-star {
  color: red;
  font-size: 0.8rem;
  margin-left: 0.25rem;
}

form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  /* border: 1px solid black; */
  padding: 0.75em;
  /* border-radius: 5px; */
}

.flex-form {
  margin: 2rem auto;
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.save-btn:hover {
  cursor: pointer;
  background-color: var(--green);
  border: 1px solid black;
}

button {
  border: none;
  color: black;
  background-color: var(--blue);
  padding: 0.8em 3em;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
}

label {
  display: flex;
  flex-flow: column nowrap;
  /* width: 100%; */
  gap: 0.2rem;
  align-items: flex-start;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: dashed 1.5px black;
  border-radius: 5px;
}

input, select {
  /* width: 100%; */
  padding: 0.25em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.save-data {
  background-color: var(--yellow);
}

.save-data:hover {
  cursor: pointer;
  background-color: var(--green);
}

legend {
  font-size: 1.3rem;
  padding: 0.5em;
  text-align: center;
}

.input-fields {
  /* width: 100%; */
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

#save-message {
  position: fixed;
  top: 1rem;
  margin: auto;
  background-color: var(--green);
  padding: 1em 2em;
  border-radius: 5px;
}

.tick-mark {
  display: none;
}