:root {
  --green: rgb(180, 255, 157);
  --blue: rgb(148, 216, 255);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 700px;
  margin: 0 auto;
}

#required-star {
  color: red;
  font-size: 0.8rem;
  margin-left: 0.25rem;
}

form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  border: 1px solid black;
  padding: 0.75em;
}

.flex-form {
  margin: 2rem auto;
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

button:hover {
  cursor: pointer;
  background-color: var(--green);
}

button {
  border: none;
  color: black;
  background-color: var(--blue);
  padding: 0.8em 3em;
  font-size: 1rem;
  border-radius: 5px;
}

label {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  gap: 0.2rem;
  align-items: flex-start;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

input, select {
  width: 100%;
  padding: 0.25em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.save-data {
  background-color: var(--green);
}

legend {
  font-size: 1.3rem;
  padding: 0.5em;
  text-align: center;
}